html, body {
  margin: 0;
  padding: 0;
}

:root {
  background-color: black;
  color: #eee;
  display: flexbox;
  min-width: 100wv;
  min-height: 100vh;
  
  margin: 0 auto;
  position: relative;
  place-items: center;
  line-height: 1.5;

  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

* {
  cursor: default;
}

.player {
  position: absolute;
  background: red;
  height: 30px;
  width: 30px;

}
